html {
    background-color: lightblue;
}

.title-elements {
    margin: 0 0 0.5rem 0;
}

.chart-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chart-wrapper.hidden {
    display: none;
}

.selector-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.selector-wrapper > .option-sel {
    margin: 0 0.5rem 0 0.2rem;
}

#property-select {
    margin: 0.5rem 0 0.5rem 0;
}

#tooltip {
    position: absolute;
    opacity: 0;
    padding: 0.25rem;
    background-color: white;
    border: 2px solid black;
    font-size: small;
}

/* 
    Warning Types 
    'flash-flood' 'severe-thunderstorm' 'special-marine' 'tornado'
*/

.tornado-group>polygon {
    fill: rgba(255, 0, 0, 0.5);
    stroke-width: 1;
}

.special-marine-group>polygon {
    fill: rgba(128, 0, 128, 0.5);
    stroke-width: 1;
}

.severe-thunderstorm-group>polygon {
    fill: rgba(255, 255, 0, 0.5);
    stroke-width: 1;
}

.flash-flood-group>polygon {
    fill: rgba(0, 128, 0, 0.5);
    stroke-width: 1;
}
